# TEE soft debug support in keystore2:
# - Read user-provided keybox XML and runtime config.
allow keystore avium_data_file:dir search;
allow keystore avium_data_file:file r_file_perms;