add_service(system_server, resolution_ext_service)
# Freeform
add_service(system_server, freeform_service);
# GMS Manager
add_service(system_server, gms_manager_service);
# Sensor Block
add_service(system_server, sensor_block_service);